.card-heading-text {
    text-align: center;
    padding-bottom: 10px;
}

.card-container {
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    grid-row-gap: 40px;




}

.card {
    /* background-color: purple; */
    position: relative;
}

.tag {
    background-color: var(--dark-gray-color);
    width: fit-content;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 5px;
}

.tag-text {
    font-weight: 600;
}

.card-image {
    width: 250px;
    height: 250px;
    object-fit: fill;
    cursor: pointer;
    transition: filter 0.1s ease;
}

.card:hover .card-image {
    filter: brightness(50%);
}

.card-item-name-text {
    padding: 10px 0px;
    cursor: pointer;
}

.card-price-container {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}

.read-more-text {
    color: var(--dark-gray-text);
    text-align: center;
    cursor: pointer;
    display: none;
}


.card:hover .card-price-container {
    display: none;
}

.card:hover .read-more-text {
    display: block;
}

@media only screen and (max-width:1300px) {
    .card-container {
        /* background-color: green; */
        grid-row-gap: 30px;
    }
}


@media only screen and (max-width:1200px) {
    .card-container {
        /* background-color: orange; */
        grid-template-columns: auto auto auto;
    }
}

@media only screen and (max-width:960px) {


    .card-image {
        width: 200px;
        height: 200px;
    }
}

@media only screen and (max-width:768px) {

    .card-image {
        width: 150px;
        height: 150px;
    }


}

/*mobile phone*/
@media only screen and (max-width:520px) {


    .card-image {
        width: 100px;
        height: 100px;
    }

    .card-container {
        /* background-color: black; */
        justify-content: space-between;
    }
}