.confirm-order-container {
    min-height: 100vh;
}

.order-description-container {
    width: 300px;
    margin-left: auto;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-description-row {
    display: flex;
    justify-content: space-between;
}

.addition-symbol-container {
    width: 100px;
    margin-left: auto;
    border-bottom: 2px solid var(--black-color);
}

.customer-information-input-container {
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.customer-input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-information-input-container .button-layout {
    width: 125px;
    margin: auto;
}



@media only screen and (max-width:768px) {
    .order-item {
        width: 100%;
        padding: 10px;
    }

    .customer-information-input-container {
        width: 300px;
    }
}