.navbar {
    background-color: transparent;
    padding: 30px 0px;
    position: fixed;
    z-index: 10;
    top: 50px;
    width: 100%;
    transition: all 0.5s ease;

}

.coloured-navbar {
    background-color: var(--white-color);
    box-shadow: 0px 10px 15px -10px;
    top: 0;
    padding: 10px 0px;
}

.navbar-first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 70px;
    box-sizing: border-box;
}


.navbar-first-row-items {
    display: flex;
    gap: 10px;
}

.navbar-second-row-items-contanier {
    width: fit-content;
    margin: auto;
    display: flex;
    gap: 50px;
    padding-top: 30px;

}

.navbar-item-dropdown-container {
    position: relative;
}

.navbar-item-dropdown {
    position: absolute;
    width: 160px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: none;
    backdrop-filter: blur(2px);
}

.navbar-item-dropdown-container:hover .navbar-item-dropdown {
    display: flex;
    /*display:block ko satta ma yo lekheko */
}

.coloured-navbar .navbar-item-dropdown {
    background-color: var(--white-color);
}

.navbar-text {
    color: var(--white-color);
}

.coloured-navbar .navbar-text {
    color: var(--black-color);
}

.navbar-dropdown-text {
    color: var(--white-color);
}

.coloured-navbar .navbar-dropdown-text {
    color: var(--black-color);
}

@media only screen and (max-width:768px) {
    .navbar-first-row {
        padding: 0px 20px;
    }

    .navbar-second-row-items-contanier {
        gap: 10px;
    }

    .navbar-item-dropdown {
        left: -95px;
    }
}